.kdev4/
.vscode/
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
configure.ac~
configure~
depcomp
install-sh
libtool
ltmain.sh
m4/
missing
stamp-h1
src/critterding

*/.deps/*
**/.deps/*
*/.libs/*
**/.libs/*

*.o
*.lo
*.la

